*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.header-top_title h1 {
    margin-top: .5rem;
}
.header-top_title {
    margin-left: .5rem;
}

.header-top_title h3 {
    font-size: 1.2rem;
    font-weight: 500;
}
.header-top_title h3 > span {
    margin-top: .5em;
    font-size: 1.6rem;
    font-weight: 600;
} 
.header-top-logo img {
    min-width: 50%;
    min-height: 50%;
    object-fit: cover;
    filter: drop-shadow(0 0 .25em #ccc);
}
.header-bottom {
    background-color: #030f18;
}
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    list-style: none;
    white-space: nowrap;
    margin-bottom: 0;
}
nav ul li {
    display: inline-block;
}

nav li a {
    border-radius: 5px;
    color: #ccc !important;
    text-transform: capitalize;
}
.active {
    background-color: #2320b6;
}
nav li a:hover {
    background-color: #2320b6;
    color: #c1ebe0cc !important;
}

@media (max-width: 468px){
    .header-top_title h3 {
        font-size: .9rem;
    }
    .header-top_title h3 > span {
        font-size: .9rem;
        margin-top: .25em;
    }
    nav {
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
    nav ul {
        white-space: wrap;
        padding-left: 0;
    }
    nav ul li:first-child{
        margin-top: 0;
    }
    nav ul li {
        text-align: center;
        display: block;
        margin-top: .25em;
    }
    nav li a {
        font-size: .9rem;
    }
}