*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    scroll-behavior: smooth;
}
/* ********************* main section style starts ************************** */
.header-top_title h1 {
    margin-top: .5rem;
}
.header-top_title {
    margin-left: .5rem;
}

.header-top_title h3 {
    font-size: 1.2rem;
    font-weight: 500;
}
.header-top_title h3 > span {
    margin-top: .5em;
    font-size: 1.6rem;
    font-weight: 600;
} 
.header-top-logo img {
    min-width: 50%;
    min-height: 50%;
    object-fit: cover;
    filter: drop-shadow(0 0 .25em #ccc);
}
.header-bottom {
    background-color: #030f18;
}
/* ********************* main section style starts ************************** */

/* ********************* main section style starts ************************** */
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul {
    list-style: none;
    white-space: nowrap;
    margin-bottom: 0;
}
nav ul li {
    display: inline-block;
}

nav li a {
    border-radius: 5px;
    color: #ccc !important;
    text-transform: capitalize;
    transition: all .2s linear;
}
.active {
    background-color: #2320b6;
}
nav li a:hover {
    background-color: #2320b6;
    color: #c1ebe0cc !important;
}
/* ********************* main section style starts ************************** */


/* ********************* mobile media query start ************************** */
@media (max-width: 468px){
    /* html {
        font-size: 75%;
    } */
    .header-top_title {
        margin-top: .5rem;
    }
    .header-top_title h3 {
        font-size: .75rem;
        font-weight: 300;
    }
    .header-top_title h3 > span {
        font-size: .85rem;
        margin-top: .25em;
        font-weight: 500;
        line-height: 1rem;
    }
    nav {
        align-items: start;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: .5rem;
    }
    nav ul {
        white-space: wrap;
        padding-left: 0;
    }
    nav ul li:first-child{
        margin-top: 0;
    }
    nav ul li {
        text-align: center;
        display: block;
        margin-top: .25em;
    }
    nav li a {
        font-size: .9rem;
    }
    main section:first-child{
        border-radius: 0;
    }
    main section {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    }
    .section-text {
        line-height: 1.5rem;
    }
} 
/* ********************* mobile media query ends ************************** */


/* ********************* main section style starts ************************** */
main section {
    background: #070012e1;
    height: auto;
    margin-bottom: .25em;
    padding: 1rem .5rem;
}
section .section-heading {
    padding: .5rem 0;
    text-align: center;
    color: #11e75f;
    font-size: 2.3rem;
}
section:last-child{
    margin: 0;
}
section h2,h3 {
    color: #ccc;
    margin: 0;
}
section p {
    color: #ccccccb7;
    line-height: 1.5em;
}
#home .container {
    min-height: inherit;
}
.organizer-details {
   color: #ccc;
}
.organizer-details p {
    color: #cccccca8;
}

.section-text {
    text-align: justify;
    color: #ccccccb7;
    margin-top: .25rem;
}
section ul {
    list-style: none;
}
section ul li {
    display: inline-block;
    width: 90%;
    color: #bbcfc8;
    border-bottom: 1px dotted #2320b6;
    margin-top: .5rem;
}
section ul li::before{
    content: ">> ";
    color: #11e75f;
}
.section-text > .highlight-text {
    background-color: #2320b6;
    color: #ccc;
    padding: .25rem;
    border-radius: 4px;
}
/* ********************* main section style ends ************************** */
